* {
	box-sizing: border-box;
}

body {
	font-family: sans-serif;
}

#container {
	margin: 50px auto 0;
	width: 240px;
	height: 300px;
	display: flex;
	flex-wrap: wrap;
}

#num_input {
	width: 180px;
	background: #65b357;
	border: 1px solid #7abd6d;
	cursor: default;
	padding: 0 15px;
	font-size: 18px;
	color: #dbdbdb;
	font-style: italic;
}

.btn {
	width: 60px;
	height: 60px;
	border: 1px solid #7abd6d;
	background: #65b357;
	color: #fcfefc;
	text-align: center;
	line-height: 60px;
	cursor: pointer;
}

.operator {
	background: #83c178;
	color: #44623c;
}

